<div class="main">
    
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3I8uZ5JtZ70Prgzjsbodej4jG56kYuhhAVg&usqp=CAU">
    <hr/>
<br/>
    <p><b><i>Kudumbashree, the Kerala State Poverty Eradication Mission was launched on 17th May 1998 inaugurated by the Prime Minister, Shri Atal Bihari Vajpayee. The Mission aims to eradicate absolute poverty within a definite time frame of 10 years under the leadership of Local Self Governments formed and empowered by the 73rd and 74th Amendments of the Constitution of India. Kudumbashree is formally registered as the "State Poverty Eradication Mission" (SPEM), a society registered under the Travancore Kochi Literary, Scientific and Charitable Societies Act 1955. It has a governing body chaired by the State Minister of LSG. There is a state mission with a field officer in each district. 
     Kudumbashree, a community organization of Neighborhood Groups (NHGs) of women in Kerala, has been recognized as an effective strategy for the empowerment of women in rural as well as urban areas: bringing women together from all spheres of life to fight for their rights or for empowerment. The overall empowerment of women is closely linked to economic empowerment. Women through these NHGs work on a range of issues such as health, nutrition, agriculture, etc. besides income generation activities and seeking micro credit.
    </i></b> </p>
   <div class="row">
    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
        
</div>
 <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
 
</div>

