<div class="sidebar">
    <h2><b>ADMIN</b><BR/></h2>
    <ul class="nav">
        


        <li>
            <a routerLink="admin" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">
                <i class="fas fa-sign-in-alt"></i>
                <span><b>Home</b></span>
            </a>
        </li>
        
        <li>
            <a routerLink="login" >
                <i class="fas fa-sign-in-alt"></i>
                <span><b>Login</b></span>
            </a>
        </li>
        
        <li>
            <a routerLink="add" >
                <i class="fa fa-plus"></i>
                <span><b>Add Member</b></span>
            </a>
        </li>
    </ul>
  </div>

