<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">UserId</th>
                        <th scope="col">UserName</th>
                        <th scope="col">Phone No</th>
                        <th scope="col">Email id</th>
                        <th scope="col">Savings</th>
                        <th scope="col">Loan Dues</th>
                        <th scope="col">Fine</th>
                        <th scope="col">Bonus</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Soumya</td>
                        <td>9762658365</td>
                        <td>soumya@gmail.com</td>
                        <td>2000/-</td>
                        <td>-</td>
                        <td>20/-</td>
                        <td>5000/-</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>9346654665</td>
                        <td>jacob123@gmail.com</td>
                        <td>5000/-</td>
                        <td>30000/-</td>
                        <td>10/-</td>
                        <td>7000/-</td>
                    </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>@twitter</td>
                      </tr>
                    </tbody>
                  </table>
        </div>
    </div>
</div>
